@media (prefers-color-scheme:dark) {
body,
summary {
  background: lighten($black, 27.8431) !important;
}
summary {
  background: lighten($black, 10) !important;
}
.posts-menu-icon, .posts-menu-icon:before, .posts-menu-icon:after {
  background: lighten($black, 27.8431) !important;
}

.notice {
  background: $overlay-color !important;
}

.notice_danger {
  background: $red !important;
}
  
.notice_info,
.tag {
  background: darken($overlay-color, 25) !important;
  }

thead,
dt {
  background: darken($overlay-color, 25) !important;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
figure,
figcaption {
  color: $white !important;
}
.about-info h1,
.about-info h2,
.about-info p,
.posts-list>li p,
.post-title,
.post-title span,
.post-title a,
.inner-post p,
.inner-post h1,
.inner-post h2,
.inner-post h3,
.inner-post h4,
.inner-post h5,
.inner-post h6,
.posts-link,
.date-highlight,
.commento-root,
.commento-login,
.commento-login-text,
.commento-anonymous-checkbox-container input[type=checkbox]+label,
.commento-footer,
.commento-logo-container,
.commento-logo-text,
.commento-card,
.commento-name,
.commento-markdown-button b {
  color: $white !important;
}
.pagination_pager {
  color: lighten($black, 27.8431) !important;
}
.commento-markdown-help {
  background: $white !important;
}
.commento-subtitle {
  color: #B5B5B5 !important;
}

.posts-menu-icon, .posts-menu-icon:before, .posts-menu-icon:after {
  border: 2px solid $white !important;
}

.posts-menu-icon:hover,
.posts-menu-icon:hover::before,
.posts-menu-icon:hover::after {
  border-color: $green !important;
}
  
.block-right::-webkit-scrollbar{
	background-color: darken($overlay-color, 25) !important;
}
.block-right::-webkit-scrollbar-track{
	border:1px darken($overlay-color, 25) solid !important;
}
.block-right::-webkit-scrollbar-thumb{
	background-color: $overlay-color !important;
	border:1px solid darken($overlay-color, 25) !important;
	border-radius:16px !important;
}
.block-right::-webkit-scrollbar-thumb:hover{
	background-color: $green !important;
	border:1px solid darken($overlay-color, 25) !important;
}
.block-right::-webkit-scrollbar-thumb:active{
	background-color: $green !important;
	border:1px solid darken($overlay-color, 25) !important;
}
  
}
