$white: #ffffff;
$black: #000000;
$green: #64ccc9;
// PANTONE 325 C
// RGB 100 204 201
// CMYK 54 0 20 0
$gray: #d0d0ce;
// PANTONE Cool Gray 2 C
// RGB 208 208 206
// CMYK 14 10 8 0
$overlay-color: #5b6770;
// PANTONE 431 C
// RGB 91 103 112
// CMYK 63 45 34 25
$red: #df4661;
// PANTONE 198 C
// RGB 223 70 97
// CMYK 0 85 41 0
$blue: #00b5e2;
// PANTONE 306 C
// RGB 0 181 226
// CMYK 76 0 0 0
$yellow: #f3ea5d;
// PANTONE 3935 C
// RGB 243 234 93
// CMYK 2 0 72 0
$aqua: #8bd3e6;
// PANTONE 636 C
// RGB 139 211 230
// CMYK 42 0 0 0

$base-font: "Vazir";
$code-font: "LiberationMonoRegular", monospace;
// break point
$small: 750px;
