{% if page.comments %}
<script> 
var jv_comments_config = {
	"website_id": "203",
	"position": "right",
	"is_open": "false",
	"story": {
		"enabled": false
	},
	"theme": {
		"mainColor": "#64CCC9",
		"textColor": "#ffffff"
	}
};

	(function () {
		var d = document, s = d.createElement("script");
		s.src = "https://widget.jointcomments.com/e/embed.prod.js";
		if (/MSIE|Trident/.test(window.navigator.userAgent)) {
				s.src = "https://widget.jointcomments.com/e/embed.prodIE.js";
		}
		(d.head || d.body).appendChild(s);
	})();
			</script>
{% endif %}
