{% if page.comments %}
<section class="mr-5 text-center" id="comments">
  <h5>
    <span class="badge badge-primary font-weight-light ml-3">دیدگاه‌ها</span>
  </h5>
  <hr class="date-hr bg-primary ml-5" />
  
<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.gc_params = {
    graphcomment_id: 'typo-ir',

    // if your website has a fixed header, indicate it's height in pixels
    fixed_header_height: 0,
  };

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();

</script>
  
  <!--<div id="hyvor-talk-view"></div>
  <script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 300;
    var HYVOR_TALK_CONFIG = {
      url: "{{ page.url | absolute_url }}",
      id: "{{page.id}}"
    };
  </script>
  <script
    async
    type="text/javascript"
    src="//talk.hyvor.com/web-api/embed"
  ></script>-->
</section>
{% endif %}
