{% if page.previous or page.next %} {% if page.previous %}
<a role="button" class="btn btn-raised btn-secondary mr-4 mb-4 float-right d-print-none" href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title | markdownify | strip_html }}">قبلی</a>
{% else %}
<a role="button" aria-disabled="true" class="btn btn-raised btn-secondary mr-4 mb-4 float-right d-print-none disabled" href="#">قبلی</a>
{% endif %} {% if page.next %}
<a role="button" class="btn btn-raised btn-secondary ml-4 mb-4 float-left d-print-none" href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title | markdownify | strip_html }}">بعدی</a>
{% else %}
<a role="button" aria-disabled="true" class="btn btn-raised btn-secondary ml-4 mb-4 float-left d-print-none disabled" href="#">بعدی</a>
{% endif %} {% endif %}
