<a
  target="_blank"
  class="btn btn-raised btn-secondary social-homepage fingerprint"
  href="https://typo.ir/pgp_key.txt"
  role="button"
  data-toggle="button"
  ><span class="fas fa-fingerprint icon-homepage"
    ><p class="access pgp sr-only">PGP</p></span
  ></a
>
<a
  target="_blank"
  class="btn btn-raised btn-secondary social-homepage"
  href="https://typo.ir/privacy-policy"
  role="button"
  ><span class="fas fa-list-ol icon-homepage"
    ><p class="access privacy sr-only">Privacy</p></span
  ></a
>
<a
  target="_blank"
  class="btn btn-raised btn-secondary social-homepage"
  href="mailto:voxp@pm.me"
  role="button"
  ><span class="fas fa-envelope icon-homepage"
    ><p class="access email sr-only">Email</p></span
  ></a
>
<a
  target="_blank"
  class="btn btn-raised btn-secondary social-homepage"
  href="https://t.me/voxxp"
  role="button"
  ><span class="fab fa-telegram-plane icon-homepage social-padded"
    ><p class="access telegram sr-only">Telegram</p></span
  ></a
>
<a
  target="_blank"
  class="btn btn-raised btn-secondary social-homepage"
  href="https://twitter.com/voxxp"
  role="button"
  ><span class="fab fa-twitter icon-homepage"
    ><p class="access twitter sr-only">Twitter</p></span
  ></a
>
